body{
    font-family: lato, sans-serif;
    background-color: #FFF;
    color: #1D3053;
    margin: 0;
}
.menu-item:hover a{
  color:#ff4444;
}
.wrapper{
    max-width: 1198px;
    margin: 0 auto;
    padding: 20px;
    overflow-x: clip;
}
.logo img{
    width: 100%;
    max-width: 80px;
    height: auto;
}
.logo{
  width: fit-content;
}
.hero{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95dvh;
}
.disabled-link {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

.live-link {
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-decoration: none;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height:5dvh;
    min-height:5vh;
    background-color: #FFF;
    position: relative;
    z-index: 10000;
}
.navbar .wrapper{
    width: 100%;
    display: flex;
    padding:10px;
    max-width: 1100px;
}
.hero_content {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    text-align: center;
    position: relative;
    padding-top: 40px;
    z-index: 2;
    height: 95dvh;
}
.menu-item a{
    font-size: 1.3rem;
    color: #1D3053;
    text-decoration: none;
    padding: 0 20px;
    text-transform: uppercase;
    transition: all 0.3s ease;
}
.logov2{
    align-self: center;
    width: 40%;
}
.bg3{
    border-radius: 45px;;
}
.hero-timer {
    font-size: 50px;
    background: #c00;
    color: white;
    padding: 5px 40px;
    border-radius: 25px;
    display: inline-block;
    font-weight: 400;
  }
  .hero-timer-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 60px 20px 20px 20px;
    gap:5%;
    width: 100%;
    position: relative;
  }
  .hearth-banner {
    overflow: clip;
    position: relative;
    width: 100%;
    justify-content: center;
    display: flex;
    z-index: 1;
    margin-top: -22%;
    height: 50vh;
    margin-bottom: -40px;
}
.hearth-banner::before{
 width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(heart_banner.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.timer-text{
  font-size: 32px;
  margin-top: 10px;
  color:#fff;
  text-shadow: 2px 2px 2px rgba(0,0,0,1);
  margin-bottom:10px;
}
  .prize-counter {
    font-size: 190px;
    font-family: "Lilita One", sans-serif;
    color: white;
    text-align: center;
    margin-top: 20px;
    line-height: 0.7;
  }
  .hearth-banner-content{
    text-align: center;
    align-self: center;
    z-index: 2;
    position: absolute;
    bottom:25%;
  }
  .hearth-banner-content h1{
    font-size: 22px;

  }
  .hearth-image{
    height: auto;
    width: 100%;
  }
  h1{
    font-size: 28px;
    color:#fff;
  }
  .transmission-section {
    position: relative;
    background-color: white;
    padding: 100px 20px 60px;
    
  }
  .img-box{
    width:45%;
  }
  .img-box img{
    width: 100%;
  }
  .transmission-container {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .transmission-image {
    width: 300px;
    border-radius: 20px;
  }
  
  h2 {
    font-size: 52px;
    font-weight: 900;
    margin-bottom: 15px;
    font-family: "Lilita One", sans-serif;
  }
    .viewer-counter-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .thumbnail-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 16px;
    padding: 20px;
    min-height: 400px;
  }
  .stream-card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  background: #111;
  transition: transform 0.3s ease;
  display: flex;
  text-decoration: none;
  flex-direction: column;
  justify-content: center;
}

.stream-card:hover {
  transform: scale(1.03);
}

.stream-card img {
  width: 100%;
  display: block;
}

.stream-card .label {
  position: absolute;
  top: 8px;
  left: 8px;
  background: rgba(0,0,0,0.7);
  color: #fff;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 4px;
  font-family: sans-serif;
}
    .live-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  margin-right: 6px;
  animation: pulse 1.2s infinite ease-in-out;
  vertical-align: middle;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.6);
    opacity: 0.5;
  }
}
  .transmission-text p {
    font-size: 34px;
    color: #1D3053;
    max-width: 500px;
  }
  .separator {
    width: 100%;
    overflow: clip;
    margin-top:90px;
  }
  .separator img {
    margin-bottom: -5px;
    width: 100%;
  }
  .event-section {
    background-color: #FFC822;
    padding: 0 20px;
    margin-top:-1px;
  }
  
  .event-container {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .event-image {
    width: 300px;
    max-width: 100%;
  }
  
  .event-container h2 {
    font-size: 100px;
    margin-top: 0;
  }
  
  .event-text p {
    font-size: 34px;
    color: #1D3053;
    max-width: 500px;
  }
  .footer-section{
    background-color: #1e325a;
  }
  .footer {
    color: #cccccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
  }
  .footer.wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .footer-left {
    display: flex;
    align-items: center;
  }
  
  .footer-logo {
    height: 60px;
    margin-right: 12px;
  }
  
  .footer-text {
    flex: 1;
    text-align: left;
    font-size:16px;
    color:#5474AD;
  }
  
  .footer-icons a {
    margin-left: 12px;
    display: inline-block;
  }
  .footer-icons{
    display: flex;
    align-items: center;
    gap:60px;
  }
  .footer-icons img {
    width: 40px;
    height: 40px;
  }
  
  .footer-icons img:hover {
    opacity: 1;
  }

  .top-section {
    text-align: center;
    padding: 30px 0px 0;
    position: relative;
  }
  .top-section::before{
    content: '';
    display: block;
    height: 70vh;
    background-image: url('transmisje-bg.svg');
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    z-index: -1;
    top:0;
    
  }
  .top-section h1 {
    font-size: 54px;
    color: #fff;
    font-family: "Lato", sans-serif;
  }
  .main-container {
    background: #F2F2F0;
    text-align: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  .main-image {
    width: 100%;
    border-radius: 20px;
    
  }
  .subheading {
    font-size: 45px;
    font-weight: bold;
    margin-top: 20px;
    color: #1e325a;
    font-family: "Lilita One", sans-serif;
  }
  .subtext {
    font-size: 32px;
    margin-bottom: 20px;
    font-family: "Lato", sans-serif;
  }
  .thumbnail-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 1fr));
    gap: 20px;
    padding: 20px;
  }
  .thumbnail {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    object-fit: cover;
  }
  .wrapper.wrapper-mini{
    max-width: 600px;
    padding:0;
  }
  .info-page {
    background-color: #B10F2E;
    min-height: 100vh;
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .info-header {
    font-size: 40px;
    font-family: "Lilita One", sans-serif;
    text-align: center;
    background-color: #ff4444;
    color: #fff;
    margin-bottom: 40px;
    padding: 10px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .info-box {
    background-color: #fff;
    max-width: 900px;
    width: 100%;
    padding: 50px 60px;
    border-radius: 16px;
    box-shadow: 0 12px 30px rgba(0,0,0,0.1);
    font-size: 18px;
    line-height: 1.8;
    color: #1D3053;
    text-align: left;
    transition: all 0.3s ease;
  }
  
  .info-box:hover {
    transform: translateY(-4px);
    box-shadow: 0 20px 50px rgba(0,0,0,0.2);
  }
  
  .info-box p {
    margin-bottom: 24px;
  }
  .info-box p strong {
    font-weight: 700;
  }
  .section-header {
    font-family: 'Lilita One', cursive;
    font-size: 36px;
    margin: 40px 0 20px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.7);
  }

  .district-section {
    position: relative;
    background-color: #0a0f2c;
    padding: 60px 20px;
    height: 80vh;
  }

  .district-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/dystrykty/dystrykty-bg.webp') no-repeat center/cover;
    z-index: 0;
  }

  .district-content {
    position: relative;
    z-index: 1;
  }

  .section-header {
    font-family: 'lato', sans-serif;
    font-size: 100px;
    margin: 40px 0 20px;
    color: #fff;
    text-align: center;
  }

  .embla {
    overflow: hidden;
  }

  .embla__container {
    display: flex;
  }

  .embla__slide {
    position: relative;
    min-width: 100%;
    padding: 20px;
    justify-content: center;
    display: flex;
  }

  .slide-image {
    max-width: 100%;
    width: 40%;
    border-radius: 12px;
  }

  .slide-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
  }

  .bottom-section {
    background-color: #09152C;
    padding: 60px 20px;
    position: relative;
  }

  .bottom-section:before{
    content: '';
    position: absolute;
    top:-6%;
    left: 0;
    width: 100%;
    height: 50px;
    background: url('separator-dystrykt.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    pointer-events: none;
  }
  .district-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(32%, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 20px;
  }
  .lilita-font{
  font-family: 'Lilita One' ,sans-serif !important;
}
  .district-card {
    background-color: #0b254a;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items:end;
    justify-content: center;
    gap: 10px;
    font-size: 42px;
    font-family: lato, sans-serif;
    color:#fff;
    position: relative;
  }
  .members-container{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5%;
    width: 100%;
  }
.alive-counter{
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: #fff;
  margin-top: 20px;
}
  .district-card img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
     .district-1::before {
  background-color: #4EF949;
  content:" ";
  position: absolute;
  width: 30%;
  height: 100%;
  left: 0;
  top: 0;
  clip-path: polygon(0 0, 70% 0, 50% 100%, 0 100%);
}
  .district-2::before {
  background-color: #98141B; 
  content:" ";
  position: absolute;
  width: 30%;
  height: 100%;
  left: 0;
  top: 0;
  clip-path: polygon(0 0, 70% 0, 50% 100%, 0 100%);
}
 .district-3::before {
  background-color: #C86E2B;
  content:" ";
  position: absolute;
  width: 30%;
  height: 100%;
  left: 0;
  top: 0;
  clip-path: polygon(0 0, 70% 0, 50% 100%, 0 100%);
}
 .district-4::before {
  background-color: #E0CB3A; 
  content:" ";
  position: absolute;
  width: 30%;
  height: 100%;
  left: 0;
  top: 0;
  clip-path: polygon(0 0, 70% 0, 50% 100%, 0 100%);
}
 .district-5::before {
  background-color: #6570D3; 
  content:" ";
  position: absolute;
  width: 30%;
  height: 100%;
  left: 0;
  top: 0;
  clip-path: polygon(0 0, 70% 0, 50% 100%, 0 100%);
}
 .district-6::before {
  background-color: #B239A2; 
  content:" ";
  position: absolute;
  width: 30%;
  height: 100%;
  left: 0;
  top: 0;
  clip-path: polygon(0 0, 70% 0, 50% 100%, 0 100%);
}
 .district-7::before {
  background-color: #5F2FA1; 
  content:" ";
  position: absolute;
  width: 30%;
  height: 100%;
  left: 0;
  top: 0;
  clip-path: polygon(0 0, 70% 0, 50% 100%, 0 100%);
}
 .district-8::before {
  background-color: #20C9AC;
  content:" ";
  position: absolute;
  width: 30%;
  height: 100%;
  left: 0;
  top: 0;
  clip-path: polygon(0 0, 70% 0, 50% 100%, 0 100%);
}
 .district-9::before {
  background-color: #1D6A10;
  content:" ";
  position: absolute;
  width: 30%;
  height: 100%;
  left: 0;
  top: 0;
  clip-path: polygon(0 0, 70% 0, 50% 100%, 0 100%);
}
 .district-10::before {
  background-color: #1C49C8; 
  content:" ";
  position: absolute;
  width: 30%;
  height: 100%;
  left: 0;
  top: 0;
  clip-path: polygon(0 0, 70% 0, 50% 100%, 0 100%);
}
 .district-11::before {
  background-color: #6C0808; 
  content:" ";
  position: absolute;
  width: 30%;
  height: 100%;
  left: 0;
  top: 0;
  clip-path: polygon(0 0, 70% 0, 50% 100%, 0 100%);
}
 .district-12::before {
  background-color: #1F1697; 
  content:" ";
  position: absolute;
  width: 30%;
  height: 100%;
  left: 0;
  top: 0;
  clip-path: polygon(0 0, 70% 0, 50% 100%, 0 100%);
}
 .district-13::before {
  background-color: #00D37C;
  content:" ";
  position: absolute;
  width: 30%;
  height: 100%;
  left: 0;
  top: 0;
  clip-path: polygon(0 0, 70% 0, 50% 100%, 0 100%);
}
 .district-14::before {
  background-color: #C47171;
  content:" ";
  position: absolute;
  width: 30%;
  height: 100%;
  left: 0;
  top: 0;
  clip-path: polygon(0 0, 70% 0, 50% 100%, 0 100%);
}
 .district-15::before {
  background-color: #DDC282;
  content:" ";
  position: absolute;
  width: 30%;
  height: 100%;
  left: 0;
  top: 0;
  clip-path: polygon(0 0, 70% 0, 50% 100%, 0 100%);
}
 .district-16::before {
  background-color: #AD165D;
  content:" ";
  position: absolute;
  width: 30%;
  height: 100%;
  left: 0;
  top: 0;
  clip-path: polygon(0 0, 70% 0, 50% 100%, 0 100%);
}
 .district-17::before {
  background-color: #AEB326;
  content:" ";
  position: absolute;
  width: 30%;
  height: 100%;
  left: 0;
  top: 0;
  clip-path: polygon(0 0, 70% 0, 50% 100%, 0 100%);
}
 .district-18::before {
  background-color: #D48FCD;
  content:" ";
  position: absolute;
  width: 30%;
  height: 100%;
  left: 0;
  top: 0;
  clip-path: polygon(0 0, 70% 0, 50% 100%, 0 100%);
}
 .district-19::before {
  background-color: #C353B0;
  content:" ";
  position: absolute;
  width: 30%;
  height: 100%;
  left: 0;
  top: 0;
  clip-path: polygon(0 0, 70% 0, 50% 100%, 0 100%);
}
 .district-20::before {
  background-color: #F2291E;
  content:" ";
  position: absolute;
  width: 30%;
  height: 100%;
  left: 0;
  top: 0;
  clip-path: polygon(0 0, 70% 0, 50% 100%, 0 100%);
}
 .district-21::before {
  background-color: #490C7C;
  content:" ";
  position: absolute;
  width: 30%;
  height: 100%;
  left: 0;
  top: 0;
  clip-path: polygon(0 0, 70% 0, 50% 100%, 0 100%);
}
 .district-22::before {
  background-color: #AE9028;
  content:" ";
  position: absolute;
  width: 30%;
  height: 100%;
  left: 0;
  top: 0;
  clip-path: polygon(0 0, 70% 0, 50% 100%, 0 100%);
}
 .district-23::before {
  background-color: #8B4343;
  content:" ";
  position: absolute;
  width: 30%;
  height: 100%;
  left: 0;
  top: 0;
  clip-path: polygon(0 0, 70% 0, 50% 100%, 0 100%);
}
.district-24::before {
  background-color: #357426;
  content:" ";
  position: absolute;
  width: 30%;
  height: 100%;
  left: 0;
  top: 0;
  clip-path: polygon(0 0, 70% 0, 50% 100%, 0 100%);
}
.district-25::before {
  background-color: #580E52;
  content:" ";
  position: absolute;
  width: 30%;
  height: 100%;
  left: 0;
  top: 0;
  clip-path: polygon(0 0, 70% 0, 50% 100%, 0 100%);
}
  .flag img {
    position: absolute;
    height: 100% !important;
    border-radius: 0px !important;
    left: 0;
    top: 0;
    width: 25% !important;
    z-index: 1;
  }
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0);
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
  }

  .arrow--left {
    left: 20%;
  }

  .arrow--right {
    right: 20%;
  }
  .player-dead {
    filter: grayscale(100%);
    opacity: 0.4;
  }.player-wrapper {
    position: relative;
    display: flex;
  }
  
  .tooltip {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: #111;
    color: #fff;
    padding: 5px 10px;
    font-size: 12px;
    white-space: nowrap;
    border-radius: 4px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
    z-index: 10;
  }
  .team-name{
    z-index: 10;
  }
  .player-wrapper:hover .tooltip {
    opacity: 1;
  }
  
  .player-dead {
    filter: grayscale(100%);
    opacity: 0.4;
  }
  .district-card.active-district {
    border-bottom: 4px solid #fff;
    padding-bottom: 10px;
  }
  .burger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    z-index: 10000;
  }
  
  .burger svg {
    width: 42px;
    height: 42px;
    transition: 0.3s;
  }
  
  .menu {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center; 
    gap:10%;
    align-items: center;
  }
  .image-mask {
    position: relative;
    display: flex;
    width: 70%;
  }
  
  .image-mask .bg3 {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .hero-timer-box {
    position: relative;
    text-align: center;
    padding: 20px;
    border-radius: 12px;
    color: white;
    gap:20px;
  }
  *, *::before, *::after {
    box-sizing: border-box;
  }
  .btn-download{
  display:inline-block;
  padding:0.85rem 2.25rem;
  background:#fff;
  color:#1D3053;
  font-weight: 600;
  text-transform:uppercase;
  border-radius:14px;         /* spójne z kartą opisową */
  text-decoration:none;
  box-shadow:0 4px 12px rgba(0,0,0,.15);
  transition:box-shadow .18s ease, transform .18s ease;
  margin: 50px auto;
}
.btn-download:hover{
  box-shadow:0 8px 20px rgba(0,0,0,.18);
  transform:translateY(-2px);
}
  @media screen and (max-width: 1248px){
    .hero_content img{
      width:75%;
    }
    .navbar.wrapper{
      width:100%;
    }
    .prize-counter{
      font-size: 130px;
    }
    .arrow--right {
      right: 10%;
    }
    .arrow--left {
      left: 10%;
    }
    .slide-image{
      width: 50%;
    }
  }
  @media screen and (max-width: 1048px){
    .img-box{
      width:100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .img-box img{
      width: 80%;
    }
    .event-container h2{
      font-size: 80px;
    }
    .event-text{
      width:100%;
    }
    .event-text p,.transmission-text p{
      width:100%;
      max-width: 100%;
    }
  }
  @media screen and (max-width: 768px) {
    .burger {
      display: flex;
    }
    #burger_icon{
      z-index:100000;
    }
    #top, #middle, #bottom {
      transition: all 0.4s ease;
      transform-origin: center;
    }
    .transmission-section{
      margin:0;
    }
    .event-container{
      padding-top:20px;
    }
    /* Gdy burger aktywny (menu otwarte) */
    
    .burger.active #top {
      transform: translate3d(-5px, 8px, 0px) rotate(45deg);
      stroke:#fff;
      fill:#fff
    }
    
    .burger.active #middle {
      opacity: 0;
    }
    
    .burger.active #bottom {
      transform: translate3d(-4px, -7px, 0px) rotate(-45deg);
      stroke:#fff;
      fill:#fff;
    }
    .menu-item a{
      font-size: 30px;
      font-weight: 700;
      color:#fff;
    }
    .prize-counter{
      font-size: 60px;
    }
    .footer{
      flex-direction: column;
      gap:30px;
    }
    .footer-text{
      text-align: center;
    }
    .logo{
      z-index: 10000;
        min-height: 40px;
      min-width: 40px;
    }
    .logo img{
      min-height: 40px;
      min-width: 40px;
    }
    .navbar.wrapper{
      padding-bottom: 10px;
      padding-top: 10px;
    }
    .menu {
      margin-left:-1000px;
      flex-direction: column;
      position: absolute;
      top: 0px;
      left: 0;
      width: 100%;
      background: #292929f5;
      padding: 20px;
      z-index: 999;
      height: 100vh;
      height: 100dvh;
      display: flex;
      transition: all 0.3s ease;
    }
  
    .menu.show {
      
      margin-left:0;
    }
  
    .menu-item {
      padding: 10px;
      text-align: center;
    }
    .img-box{
      width:100%;
    }
    .hero-timer{
      font-size: 30px;
      padding: 10px 20px;
    }
    .timer-text{
      font-size: 20px;
    }
    .hero{
      height:auto;
      min-height: 620px;
    }
    .hearth-banner{
      position: relative;
      height: 35vh;
      /*background-image: url('heart-banner-mobile.png');*/
      z-index: 3;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .hearth-banner-content{
      padding-top:0px;
      padding-bottom:0px;
      bottom:36%;
    }
    .hearth-banner-content h1{
      margin-bottom: 34px;
    }
    h2 {
      font-size: 28px;
    }
    .event-text p, .transmission-text p{
      font-size: 20px;
    }
    .separator{
      margin:0;
    }
    .event-container h2{
      font-size: 30px;
    }
    .event-section{
      padding:0px;
    }
    .footer-text {
      font-size: 14px;
    }
    .footer-icons{
      justify-content: space-between;
      gap:0;
      width: 100%;

    }
    .team-name{
      font-size: 16px;
    }
    .top-section h1{
      font-size: 30px;
    }
    .info-header{
      font-size: 30px;
    }
    .info-box p{
      font-size: 16px;
    }
    .info-box{
      padding: 20px;
    }
    .section-header{
      font-size: 30px;
    }
    .arrow--right {
      right: 0px;
    }
    .arrow--left {
      left: 0px;
    } 
    .arrow img{
      width: 30px;
    }
    .district-section{
      height: auto;
    }
    .embla{
      position: relative;
      top:unset;
    }
    .slide-image{
      width: 80%;
    }
    .logo img{
      max-width: 70px;
      height: 40px;
    }
    .navbar .wrapper{
      justify-content: space-between;
    }
    .district-card{
      font-size: 20px;
      padding:6px;
      gap:5px;
    }
    .district-grid{
      padding:0;
    }
    .district-card img{
      width: 20px;
      height: 20px;
    }
    .members-container, .player-wrapper{
      margin:0;
      gap:5px;
    }
    .members-container{
      justify-content: end;
    }
    .bottom-section:before{
      top: -8%;
    }
  }
.wkrotce{
  background-image: url('wkrotce_bg.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-gif{
  width: 100%;
}
/* Video background styles */
#bg-video-desktop{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  pointer-events: none;
  height: 100%;
    overflow: clip;
}
.bg-video img{
  height: 300%;
  object-fit: cover;
  left: -65%;
  position: absolute;
  top: 0%;
}
.mobile-only {
  display: none;
}
/* Overlay (optional, helps text readability) */
.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* adjust darkness */
  z-index: 1;
  backdrop-filter: blur(20px); /* Optional: adds a blur effect to the overlay */
}
.desktop-only, .mobile-only{
  border-radius: 15px;
}
.desktop-only{
  position: absolute;
}

/* Media query for mobile */
@media (max-width: 860px) {
.mobile-only {
    display: block;
    width: 100%;  
    max-width: 320px;
  }

  .hero-timer-box{
    top: unset; 
    left: unset; 
    transform: unset;
    gap:40px;
  }
  .image-mask{
    position: absolute;
    width: 100%;
  }
  .clear{
    width: auto!important;
    left:-50%;
    position: absolute;
  }
  .hero_content{
    padding: 0px;
    height: 60vh;
    overflow-x: clip;
  }
}
.scroll-slide-left,
.scroll-slide-right {
  opacity: 0;
  transition: transform 0.3s linear, opacity 0.3s linear;
}

.scroll-slide-left {
  transform: translateX(-100px);
}

.scroll-slide-right {
  transform: translateX(100px);
}
.clear{
  width:100%;
  border-radius: 15px;
  transform: translateZ(0);
  will-change: transform;
  height: 56vh;
}
#video-container{
  width: auto;
    height: auto;
    border-radius: 15px;
}
